body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo gris claro */
}

header {
    background-color: #cef1f4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    margin: 20px;
    background-color: #bceeff; /* Color de fondo blanco */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#Misión,
#Objetivos {
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}
